<header class="header">
    <h1 class="header__page-title">{{ title }}</h1>
    <div class="header__slogan">{{ slogan }}</div>
    <div class="header__intro-copy">
        {{ introHTML | safe }}
    </div>
</header>