.header-section
    background-color color-brown
    text-align center

    &__text-title
        color color-white

    &__logo
        position relative
        text-align left
        top -52px

    &__logo-image
        object-fit contain

    &__text
        text-align left

    &__text-slogan
        color color-green
        font-size 60px
        font-weight 300
        line-height 1.17
        margin-bottom 64px
        
    &__text-copy
        border-top 2px solid color-green
        font-weight 400
        padding-top 24px

        > p
            color color-white