<nav class="header__nav-bar">
    <div class="header__nav-bar__desktop">
        <img class="header__nav-bar__logo" src="{{ navLogo }}"></img>
        <img class="header__nav-bar__text" src="{{ navText }}"></img>
        <div class="header__nav-bar__links">
            {% for navBarLink in navBarLinks %}
                <a href="{{ navBarLink.href }}">{{ navBarLink.name }}</a>
            {% endfor %}
        </div>
        <button class="header__nav-bar__button hamburger">&#9776;</button>
    </div>

    <div class="header__nav-bar__links__mobile">
        <ul>
            {% for navBarLink in navBarLinks %}
                <a href="{{ navBarLink.href }}"><li>{{ navBarLink.name }}</li></a>
            {% endfor %}
        </ul>
    </div>
</nav>

