<nav class="header__nav-bar">
    <img class="header__nav-bar__logo" src="{{ navLogo }}"></img>
    <img class="header__nav-bar__text" src="{{ navText }}"></img>
    <div class="header__nav-bar__links">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</nav>