.header__nav-bar
    background-color $color-brown
    height 40px
    overflow hidden
    padding 2px
    position fixed
    top 0
    width 100%

    .header__nav-bar__logo
        float left
        height 100%
        padding 2px 5px

    .header__nav-bar__links
        float right
        height inherit

        a 
            display block
            float left
            padding 8px 24px
            position relative
            top 50%
            transform translate(0, -50%)