.header-section
    background-color color-brown
    height 960px
    overflow hidden
    position relative
    text-align center

    &.wrapper
        align-items center

    +breakpoint(medium)
        min-height 750px

    +breakpoint(small)
        height auto

    &__container
        @extends $sectionContainer

        +breakpoint(medium)
            padding 160px 48px

        +breakpoint(small)
            flex-flow column wrap
            padding 40px 24px

        &.wrapper
            padding 0 section-padding

            +breakpoint(large)
                padding 0 section-padding-large

            +breakpoint(medium)
                padding section-padding-large

            +breakpoint(small)
                padding section-padding-small

        > .item:first-child
            margin 0

    &__text-title
        color color-white

        &__logo
            margin-bottom 16px

            +breakpoint(medium)
                margin-bottom 8px
                max-width 340px
                width 100%

            +breakpoint(small)
                margin-bottom 12px
                width 272px

    &__logo
        min-width 50%
        position relative
        text-align left
        top -52px
        z-index 5

        +breakpoint(small)
            min-width none
            top 0

    &__logo-image
        left -700px
        object-fit contain
        position absolute
        top -700px

        +breakpoint(large)
            display none

        +breakpoint(medium)
            display none

        +breakpoint(small)
            display none

    &__logo-image-medium
        display none
        height 1200px
        left -530px
        object-fit contain
        position absolute
        top -500px
        width 1200px

        +breakpoint(large)
            display block

        +breakpoint(medium-header)
            display block

        +breakpoint(small-medium-header)
            display block
            height 800px
            left -350px
            top -300px
            width 800px

    &__logo-image-small
        display none
        height 700px
        left -300px
        object-fit contain
        position absolute
        top -300px
        width 700px

        +breakpoint(small)
            display block

    &__text
        text-align left
        z-index 5

    &__text-slogan
        @extends $bigHeader
        color color-green
        margin-bottom 32px

        +breakpoint(small)
            margin-bottom 24px
        
    &__text-copy
        @extends $smallHeader
        border-top 2px solid color-green
        font-weight 400
        padding-top 24px

        > p
            color color-white
            margin-bottom 12px

        +breakpoint(small)
            margin-bottom 48px