.navigation
    height header-navbar-bar-height
    // pointer-events none
    position fixed
    top -(header-navbar-bar-height)
    width 100%
    z-index 10

    &__bar
        align-items center
        background-color color-brown
        display flex
        height header-navbar-bar-height
        padding 2px

    &__logo
        height 48px
        margin-left 16px
        object-fit contain
        width 48px

        +breakpoint(small)
            height 36px
            margin-left 8px
            width 36px

    &__text
        height 27px
        margin-left 16px
        object-fit contain
        width 204px

        +breakpoint(medium)
            margin-left 12px
            width 186px

        +breakpoint(small)
            margin-left 8px
            width 172px

    &__links
        display flex
        margin-left auto

        +breakpoint(small)
            display none

        &__mobile
            background-color color-grey
            bottom header-navbar-mobile-height
            display block
            height header-navbar-mobile-height
            position relative
            z-index -5

            &--collapsed
                display none
                
            ul
                list-style-image none
                list-style-type none
                margin 0
                padding 0

                li

                    a
                        border-bottom 2px solid color-brown
                        display block
                        padding 10px 0
                        text-align center

                        &:hover
                            background-color color-teal
                            color color-grey

    &__link-anchor
        color color-teal
        display block
        padding 8px 24px
        transition color 222ms

        &:hover
        &:focus
            color white

        +breakpoint(medium)
            padding 8px 16px

    &__button
        background-color color-brown
        color color-white
        cursor pointer
        display none
        font-size 24px
        height 36px
        margin-left auto
        margin-right 8px
        position relative
        width 36px

        +breakpoint(small)
            display inline-block