.navigation
    height header-navbar-bar-height
    // pointer-events none
    position fixed
    top -(header-navbar-bar-height)
    width 100%
    z-index 10

    &__bar
        align-items center
        background-color color-brown
        display flex
        height header-navbar-bar-height
        padding 2px

    &__logo
        height 48px
        margin-left 16px
        object-fit contain
        width 48px

        +breakpoint(small)
            height 36px
            margin-left 8px
            width 36px

    &__text
        height 27px
        margin-left 16px
        object-fit contain
        width 204px

        +breakpoint(medium)
            margin-left 12px
            width 186px

        +breakpoint(small)
            margin-left 8px
            width 172px

    &__links
        display flex
        margin-left auto

        +breakpoint(small)
            display none

        &__mobile
            background-color color-brown
            bottom header-navbar-mobile-height
            display block
            height header-navbar-mobile-height
            position relative
            visibility hidden
            z-index -5

            +breakpoint(small)
                visibility initial

            &--collapsed
                display none
                
            &__list
                list-style-image none
                list-style-type none
                margin 0
                padding 0

                &--anchor-text
                    border-bottom 2px solid color-brown
                    color color-teal
                    display block
                    padding 10px 0
                    text-align center
                    text-decoration none

                    &:hover
                        background-color color-teal
                        color color-cocoa

    &__link-anchor
        color color-teal
        display block
        padding 8px 24px
        transition color 222ms

        &:hover
        &:focus
            color white

            .navigation__link-anchor-text:after
                transform scaleX(1)
                transform-origin 0 50%

        +breakpoint(medium)
            padding 8px 16px

    &__link-anchor-text
        position relative

        &:after
            background-color white
            bottom 0
            content ""
            height 1px
            left 0
            position absolute
            transform scaleX(0)
            transform-origin 100% 50%
            transition transform 222ms
            right 0

    &__button
        background-color color-brown
        color color-white
        cursor pointer
        display none
        font-size 24px
        height 36px
        margin-left auto
        margin-right 8px
        position relative
        width 36px

        +breakpoint(small)
            display inline-block