@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  display: -ms-flexbox;
  display: flex;
}
.item {
  -ms-flex: 1 200px;
  flex: 1 200px;
  -ms-flex-order: 2;
  order: 2;
}
.header-section__text-slogan,
.benefits-section__title,
.getting-started-section__title,
.scope-section__title {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.17;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__text-slogan,
  .benefits-section__title,
  .getting-started-section__title,
  .scope-section__title {
    font-size: 50px;
    line-height: 1.16;
  }
}
.feature-card__name,
.benefits-section__section-2 h3,
.benefits-section__section-3 h3,
.benefits-section__section-4 h3,
.benefits-section__section-5 h3,
.getting-started-section__section-2 h3,
.scope-section__feature-intro {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .feature-card__name,
  .benefits-section__section-2 h3,
  .benefits-section__section-3 h3,
  .benefits-section__section-4 h3,
  .benefits-section__section-5 h3,
  .getting-started-section__section-2 h3,
  .scope-section__feature-intro {
    font-size: 32px;
    line-height: 1.25;
  }
}
.header-section__text-copy,
.benefits-section__copy,
.getting-started-section__copy {
  font-size: 26px;
  line-height: 1.31;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__text-copy,
  .benefits-section__copy,
  .getting-started-section__copy {
    font-size: 24px;
    line-height: 1.33;
  }
}
.benefits-section__copy > ul,
.getting-started-section__section-2 ul {
  list-style-type: none;
}
.feature-card__sub-feature-item-button,
.feature-core__button {
  cursor: pointer;
  font-family: Hind;
  font-size: 20px;
  line-height: 1.4;
  width: 100%;
}
.footer-section__container,
.header-section__container,
.benefits-section__container,
.getting-started-section__container,
.scope-section__container-1,
.scope-section__container-2 {
  margin: 0 auto;
  padding: 200px;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .footer-section__container,
  .header-section__container,
  .benefits-section__container,
  .getting-started-section__container,
  .scope-section__container-1,
  .scope-section__container-2 {
    padding: 81px 48px;
  }
}
@media only screen and (max-width: 320px) {
  .footer-section__container,
  .header-section__container,
  .benefits-section__container,
  .getting-started-section__container,
  .scope-section__container-1,
  .scope-section__container-2 {
    padding: 48px 24px;
  }
}
.feature-card {
  border-top: 2px solid #00cc92;
  color: #fff;
}
.feature-card__feature-content {
  background-color: #28221c;
  padding: 24px;
}
.feature-card__name {
  margin-bottom: 12px;
}
.feature-card__description {
  color: #c1bfbb;
  font-weight: 400;
  margin-bottom: 16px;
}
.feature-card__details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.feature-card__status,
.feature-card__available {
  font-weight: 600;
}
.feature-card__status-label,
.feature-card__available-label,
.feature-card__status-value,
.feature-card__available-value {
  display: inline-block;
}
.feature-card__status-label,
.feature-card__available-label {
  margin-right: 6px;
}
.feature-card__status .status-upcoming,
.feature-card__available .status-upcoming,
.feature-card__status .available-next-or-three-years,
.feature-card__available .available-next-or-three-years {
  color: #f5c323;
}
.feature-card__status .status-in-progress,
.feature-card__available .status-in-progress,
.feature-card__status .available-this-year,
.feature-card__available .available-this-year {
  color: #9cef29;
}
.feature-card__status .status-complete,
.feature-card__available .status-complete,
.feature-card__status .available-now,
.feature-card__available .available-now {
  color: #38ead4;
}
.feature-card__sub-features {
  list-style: none inside;
}
.feature-card__sub-feature-item {
  margin-top: 2px;
}
.feature-card__sub-feature-item-button {
  background-color: #28221c;
  color: #00cc92;
  display: block;
  padding: 14px 24px;
  text-align: left;
  transition: background-color 300ms, color 300ms;
}
.feature-card__sub-feature-item-button:hover,
.feature-card__sub-feature-item-button:focus {
  background-color: #00cc92;
  border: solid 2px #00cc92;
  color: #28221c;
}
.feature-card.inactive-card {
  display: none;
}
.feature-core__item {
  margin-bottom: 16px;
}
.feature-core__button {
  background-color: #28221c;
  border: solid 2px #413a31;
  color: #00cc92;
  height: 112px;
  outline: none;
  padding: 22px 24px;
  text-align: left;
}
.feature-core__button:hover,
.feature-core__button:focus {
  background-color: #00cc92;
  color: #28221c;
  transition: background-color 300ms, color 300ms;
}
.footer-section {
  background-color: #fff;
  height: 400px;
}
.footer-section__container {
  padding: 64px 0;
}
@media only screen and (max-width: 320px) {
  .footer-section__container {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
}
.footer-section__details {
  float: left;
  padding: 0 35px;
  width: 50%;
}
.footer-section__logo,
.footer-section__funding,
.footer-section__built-by {
  margin: 0 0 20px 0;
}
.footer-section__funding,
.footer-section__built-by {
  max-width: 336px;
}
.footer-section__funding p,
.footer-section__built-by p {
  color: rgba(33,29,23,0.6);
  font-size: 16px;
  line-height: 1.5;
}
.footer-section__logo {
  object-fit: contain;
  width: 100%;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .footer-section__logo {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 841px) {
  .footer-section__logo {
    height: 77px;
    width: 336px;
  }
}
.footer__links {
  height: 300px;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .footer__links {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .footer__links {
    height: initial;
  }
}
.footer__links ul {
  list-style-type: none;
  margin: 0 16px 0 0;
  width: 160px;
}
.footer__links ul li {
  line-height: 2;
}
.footer__links ul .footer__links__list__title {
  font-weight: bold;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .footer__links ul.item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 20px;
    line-height: 1.4;
    padding: 10px 0;
  }
}
.header__nav-bar {
  background-color: #342d25;
  height: 80px;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  top: -80px;
  width: 100%;
  z-index: 10;
}
.header__nav-bar .header__nav-bar__logo {
  float: left;
  height: 48px;
  margin-left: 16px;
  object-fit: contain;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 48px;
}
.header__nav-bar .header__nav-bar__text {
  height: 27px;
  margin-left: 16px;
  object-fit: contain;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 204px;
}
.header__nav-bar .header__nav-bar__links {
  float: right;
  height: inherit;
}
.header__nav-bar .header__nav-bar__links a {
  display: block;
  float: left;
  padding: 8px 24px;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.header-section {
  background-color: #342d25;
  height: 960px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section {
    height: 750px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__container {
    padding: 160px 48px;
  }
}
@media only screen and (max-width: 320px) {
  .header-section__container {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    padding: 40px 24px;
  }
}
.header-section__text-title {
  color: #fff;
}
.header-section__text-title__logo {
  margin-bottom: 24px;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__text-title__logo {
    margin-bottom: 16px;
    width: 340px;
  }
}
.header-section__logo {
  position: relative;
  text-align: left;
  top: -52px;
  z-index: 5;
}
@media only screen and (max-width: 320px) {
  .header-section__logo {
    top: 0;
  }
}
.header-section__tree-image {
  object-fit: contain;
  left: -715px;
  position: absolute;
  top: -695px;
}
@media only screen and (max-width: 320px) {
  .header-section__tree-image {
    left: -730px;
    top: -730px;
    transform: rotate3d(-1, -1, 0, -180deg) scale(0.6);
  }
}
.header-section__logo-image {
  object-fit: contain;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__logo-image {
    height: 132px;
    width: 136px;
  }
}
@media only screen and (max-width: 320px) {
  .header-section__logo-image {
    height: 99px;
    width: 96px;
  }
}
.header-section__text {
  text-align: left;
  z-index: 5;
}
.header-section__text-slogan {
  color: #00cc92;
  margin-bottom: 64px;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .header-section__text-slogan {
    margin-bottom: 48px;
  }
}
.header-section__text-copy {
  border-top: 2px solid #00cc92;
  font-weight: 400;
  padding-top: 24px;
}
.header-section__text-copy > p {
  color: #fff;
}
.benefits-section__section-1 {
  background-color: #00cc92;
}
.benefits-section__section-2 h3,
.benefits-section__section-3 h3,
.benefits-section__section-4 h3,
.benefits-section__section-5 h3 {
  margin-bottom: 12px;
}
.benefits-section__section-2 ul,
.benefits-section__section-3 ul,
.benefits-section__section-4 ul,
.benefits-section__section-5 ul {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.benefits-section__section-2 li,
.benefits-section__section-3 li,
.benefits-section__section-4 li,
.benefits-section__section-5 li {
  margin-bottom: 16px;
}
.benefits-section__section-2,
.benefits-section__section-4 {
  background-color: #fafaf5;
}
.benefits-section__section-3,
.benefits-section__section-5 {
  background-color: #fff;
}
.getting-started-section__section-1 {
  background-color: #00cc92;
}
.getting-started-section__title {
  color: #211d17;
  margin-bottom: 16px;
}
.getting-started-section__logo-image {
  height: 59px;
  margin-bottom: 64px;
  width: 444px;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .getting-started-section__logo-image {
    height: 44px;
    width: 340px;
  }
}
.getting-started-section__section-2 {
  background-color: #fafaf5;
}
.getting-started-section__section-2 ul {
  line-height: 1.2;
  margin-bottom: 64px;
  margin-top: 12px;
}
.getting-started-section__section-2 li {
  line-height: 1.31;
  padding-bottom: 20px;
}
.scope-section {
  background-color: #342d25;
}
@media only screen and (min-width: 841px) {
  .scope-section__container-1 {
    padding: 160px 160px 144px 160px;
  }
}
.scope-section__container-2 {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 841px) {
  .scope-section__container-2 {
    padding: 0 160px 160px 160px;
  }
}
.scope-section__gradient {
  background-image: linear-gradient(to bottom, #28231c, #342d25);
  height: 288px;
  margin-top: 112px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .scope-section__gradient {
    margin-top: 180px;
  }
}
.scope-section__title {
  color: #00cc92;
}
.scope-section__copy {
  color: #fff;
}
.scope-section__feature-intro {
  color: #fff;
  margin-bottom: 32px;
}
.scope-section__features {
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 320px) {
  .scope-section__features {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.scope-section__feature-cards,
.scope-section__feature-core-container {
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .scope-section__feature-core-container {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 841px) {
  .scope-section__feature-core-container {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 840px) {
  .scope-section__feature-cards {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 841px) {
  .scope-section__feature-cards {
    margin-left: 16px;
  }
}
body {
  color: #342d25;
  font-family: Hind;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.4;
}
a {
  color: #00835e;
  text-decoration: none;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
