@import url("https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
.wrapper {
  display: -ms-flexbox;
  display: flex;
}
.item {
  -ms-flex: 1 200px;
  flex: 1 200px;
  -ms-flex-order: 2;
  order: 2;
}
.header-section__text-slogan,
.benefits-section__title,
.getting-started-section__title,
.scope-section__title {
  font-size: 60px;
  font-weight: 300;
  line-height: 1.17;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__text-slogan,
  .benefits-section__title,
  .getting-started-section__title,
  .scope-section__title {
    font-size: 50px;
    line-height: 1.16;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__text-slogan,
  .benefits-section__title,
  .getting-started-section__title,
  .scope-section__title {
    font-size: 40px;
    line-height: 1.2;
  }
}
.feature-card__name,
.benefits-section__copy h3,
.getting-started-section__section h3,
.scope-section__feature-intro {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .feature-card__name,
  .benefits-section__copy h3,
  .getting-started-section__section h3,
  .scope-section__feature-intro {
    font-size: 32px;
    line-height: 1.25;
  }
}
@media only screen and (max-width: 599px) {
  .feature-card__name,
  .benefits-section__copy h3,
  .getting-started-section__section h3,
  .scope-section__feature-intro {
    font-size: 32px;
    line-height: 1.25;
  }
}
.header-section__text-copy,
.benefits-section__copy,
.getting-started-section__copy,
.scope-section__copy {
  font-size: 26px;
  line-height: 1.31;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__text-copy,
  .benefits-section__copy,
  .getting-started-section__copy,
  .scope-section__copy {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__text-copy,
  .benefits-section__copy,
  .getting-started-section__copy,
  .scope-section__copy {
    font-size: 24px;
    line-height: 1.33;
  }
}
.benefits-section__copy > ul,
.getting-started-section__section ul {
  list-style-type: none;
}
.feature-card__sub-feature-item-button,
.feature-core__button,
.getting-started-section a {
  cursor: pointer;
  font-family: Hind;
  font-size: 20px;
  line-height: 1.4;
  width: 100%;
}
.footer-section__container,
.header-section__container,
.benefits-section__container,
.getting-started-section__container-1,
.getting-started-section__container-2,
.scope-section__container-1,
.scope-section__container-2 {
  margin: 0 auto;
  padding: 200px;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .footer-section__container,
  .header-section__container,
  .benefits-section__container,
  .getting-started-section__container-1,
  .getting-started-section__container-2,
  .scope-section__container-1,
  .scope-section__container-2 {
    padding: 200px 80px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .footer-section__container,
  .header-section__container,
  .benefits-section__container,
  .getting-started-section__container-1,
  .getting-started-section__container-2,
  .scope-section__container-1,
  .scope-section__container-2 {
    padding: 80px 48px;
  }
}
@media only screen and (max-width: 599px) {
  .footer-section__container,
  .header-section__container,
  .benefits-section__container,
  .getting-started-section__container-1,
  .getting-started-section__container-2,
  .scope-section__container-1,
  .scope-section__container-2 {
    flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    padding: 48px 24px;
  }
}
.footer-section__container > .item:first-child,
.header-section__container > .item:first-child,
.benefits-section__container > .item:first-child,
.getting-started-section__container-1 > .item:first-child,
.getting-started-section__container-2 > .item:first-child,
.scope-section__container-1 > .item:first-child,
.scope-section__container-2 > .item:first-child {
  margin-right: 32px;
}
@media only screen and (max-width: 599px) {
  .footer-section__container > .item:first-child,
  .header-section__container > .item:first-child,
  .benefits-section__container > .item:first-child,
  .getting-started-section__container-1 > .item:first-child,
  .getting-started-section__container-2 > .item:first-child,
  .scope-section__container-1 > .item:first-child,
  .scope-section__container-2 > .item:first-child {
    margin-right: 0;
  }
}
.feature-card {
  border-top: 2px solid #00cc92;
  color: #fff;
}
.feature-card__feature-content {
  background-color: #28221c;
  padding: 24px;
}
.feature-card__name {
  margin-bottom: 12px;
}
.feature-card__description {
  color: #c1bfbb;
  font-weight: 400;
  margin-bottom: 16px;
}
.feature-card__details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.feature-card__status,
.feature-card__available {
  font-weight: 600;
}
.feature-card__status-label,
.feature-card__available-label,
.feature-card__status-value,
.feature-card__available-value {
  display: inline-block;
}
.feature-card__status-label,
.feature-card__available-label {
  margin-right: 6px;
}
.feature-card__status .status-upcoming,
.feature-card__available .status-upcoming,
.feature-card__status .available-next-or-three-years,
.feature-card__available .available-next-or-three-years {
  color: #f5c323;
}
.feature-card__status .status-in-progress,
.feature-card__available .status-in-progress,
.feature-card__status .available-this-year,
.feature-card__available .available-this-year {
  color: #9cef29;
}
.feature-card__status .status-complete,
.feature-card__available .status-complete,
.feature-card__status .available-now,
.feature-card__available .available-now {
  color: #38ead4;
}
.feature-card__sub-features {
  list-style: none inside;
}
.feature-card__sub-feature-item {
  margin-top: 2px;
}
.feature-card__sub-feature-item-button {
  background-color: #28221c;
  color: #00cc92;
  display: block;
  padding: 14px 24px;
  text-align: left;
  transition: background-color 300ms, color 300ms;
}
.feature-card__sub-feature-item-button:hover,
.feature-card__sub-feature-item-button:focus {
  background-color: #00cc92;
  border: solid 2px #00cc92;
  color: #28221c;
}
.feature-card.inactive-card {
  display: none;
}
.feature-core__item {
  margin: 0 32px 16px 0;
}
.feature-core__button {
  background-color: #28221c;
  border: solid 2px #413a31;
  color: #00cc92;
  height: 112px;
  outline: none;
  padding: 22px 24px;
  text-align: left;
}
.feature-core__button:hover,
.feature-core__button:focus {
  background-color: #00cc92;
  color: #28221c;
  transition: background-color 300ms, color 300ms;
}
.footer-section {
  background-color: #fff;
  height: 400px;
}
.footer-section__container {
  padding-top: 64px;
}
@media only screen and (max-width: 599px) {
  .footer-section__container {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
}
.footer-section__details {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 599px) {
  .footer-section__details {
    margin-bottom: 48px;
    width: 100%;
  }
}
.footer-section__logo,
.footer-section__funding,
.footer-section__built-by {
  margin: 0 0 20px 0;
}
.footer-section__funding,
.footer-section__built-by {
  max-width: 336px;
}
.footer-section__funding p,
.footer-section__built-by p {
  color: rgba(33,29,23,0.6);
  font-size: 16px;
  line-height: 1.5;
}
.footer-section__logo {
  object-fit: contain;
  width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .footer-section__logo {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .footer-section__logo {
    height: 77px;
    width: 336px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-section__logo {
    height: 77px;
    width: 336px;
  }
}
.footer__links {
  height: 300px;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .footer__links {
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    height: auto;
  }
}
@media only screen and (max-width: 599px) {
  .footer__links {
    -ms-flex-flow: column;
        flex-flow: column;
  }
}
.footer__links ul {
  list-style-type: none;
  margin: 0 16px 0 0;
  width: 160px;
}
@media only screen and (max-width: 599px) {
  .footer__links ul {
    margin-bottom: 32px;
  }
}
.footer__links ul li {
  line-height: 2;
}
.footer__links ul .footer__links__list__title {
  font-weight: bold;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .footer__links ul.item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    font-size: 20px;
    line-height: 1.4;
    padding: 10px 0;
  }
}
.header__nav-bar {
  height: 230px;
  position: fixed;
  top: -230px;
  width: 100%;
  z-index: 10;
}
.header__nav-bar__desktop {
  background-color: #342d25;
  height: 80px;
  padding: 2px;
}
.header__nav-bar__logo {
  float: left;
  height: 48px;
  margin-left: 16px;
  object-fit: contain;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 48px;
}
@media only screen and (max-width: 599px) {
  .header__nav-bar__logo {
    height: 36px;
    margin-left: 8px;
    width: 36px;
  }
}
.header__nav-bar__text {
  height: 27px;
  margin-left: 16px;
  object-fit: contain;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  width: 204px;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header__nav-bar__text {
    margin-left: 12px;
    width: 186px;
  }
}
@media only screen and (max-width: 599px) {
  .header__nav-bar__text {
    margin-left: 8px;
    width: 172px;
  }
}
.header__nav-bar__links {
  float: right;
  height: inherit;
}
@media only screen and (max-width: 599px) {
  .header__nav-bar__links {
    display: none;
  }
}
.header__nav-bar__links a {
  display: block;
  float: left;
  padding: 8px 24px;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header__nav-bar__links a {
    padding: 8px 16px;
  }
}
.header__nav-bar__links__mobile {
  background-color: #fafaf5;
  display: none;
  height: 150px;
}
@media only screen and (max-width: 599px) {
  .header__nav-bar__links__mobile {
    display: block;
  }
}
.header__nav-bar__links__mobile ul {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__nav-bar__links__mobile ul a {
  text-align: center;
}
.header__nav-bar__links__mobile ul a li {
  border-bottom: 2px solid #342d25;
  display: block;
  padding: 10px 0;
}
.header__nav-bar__links__mobile ul a li:hover {
  background-color: #00cc92;
  color: #fafaf5;
}
.header__nav-bar__button.hamburger {
  background-color: #342d25;
  color: #fff;
  display: none;
  float: right;
  font-size: 24px;
  height: 36px;
  margin-right: 8px;
  position: relative;
  top: 25%;
  width: 36px;
}
@media only screen and (max-width: 599px) {
  .header__nav-bar__button.hamburger {
    display: inline-block;
  }
}
.header-section {
  background-color: #342d25;
  height: 960px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.header-section.wrapper {
  -ms-flex-align: center;
      align-items: center;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section {
    min-height: 750px;
  }
}
@media only screen and (max-width: 599px) {
  .header-section {
    height: auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__container {
    padding: 160px 48px;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__container {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    padding: 40px 24px;
  }
}
.header-section__container.wrapper {
  padding: 0 200px;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .header-section__container.wrapper {
    padding: 0 80px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__container.wrapper {
    padding: 80px;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__container.wrapper {
    padding: 48px 24px;
  }
}
.header-section__container > .item:first-child {
  margin: 0;
}
.header-section__text-title {
  color: #fff;
}
.header-section__text-title__logo {
  margin-bottom: 16px;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__text-title__logo {
    margin-bottom: 8px;
    max-width: 340px;
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__text-title__logo {
    margin-bottom: 12px;
    width: 272px;
  }
}
.header-section__logo {
  min-width: 50%;
  position: relative;
  text-align: left;
  top: -52px;
  z-index: 5;
}
@media only screen and (max-width: 599px) {
  .header-section__logo {
    min-width: none;
    top: 0;
  }
}
.header-section__logo-image {
  left: -700px;
  object-fit: contain;
  position: absolute;
  top: -700px;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .header-section__logo-image {
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .header-section__logo-image {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .header-section__logo-image {
    display: none;
  }
}
.header-section__logo-image-medium {
  display: none;
  height: 1200px;
  left: -530px;
  object-fit: contain;
  position: absolute;
  top: -500px;
  width: 1200px;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .header-section__logo-image-medium {
    display: block;
  }
}
@media only screen and (min-width: 750px) and (max-width: 999px) {
  .header-section__logo-image-medium {
    display: block;
  }
}
@media only screen and (min-width: 600px) and (max-width: 750px) {
  .header-section__logo-image-medium {
    display: block;
    height: 800px;
    left: -350px;
    top: -300px;
    width: 800px;
  }
}
.header-section__logo-image-small {
  display: none;
  height: 700px;
  left: -300px;
  object-fit: contain;
  position: absolute;
  top: -300px;
  width: 700px;
}
@media only screen and (max-width: 599px) {
  .header-section__logo-image-small {
    display: block;
  }
}
.header-section__text {
  text-align: left;
  z-index: 5;
}
.header-section__text-slogan {
  color: #00cc92;
  margin-bottom: 32px;
}
@media only screen and (max-width: 599px) {
  .header-section__text-slogan {
    margin-bottom: 24px;
  }
}
.header-section__text-copy {
  border-top: 2px solid #00cc92;
  font-weight: 400;
  padding-top: 24px;
}
.header-section__text-copy > p {
  color: #fff;
  margin-bottom: 12px;
}
@media only screen and (max-width: 599px) {
  .header-section__text-copy {
    margin-bottom: 48px;
  }
}
.benefits-section__container__illustrations {
  -ms-flex-align: center;
      align-items: center;
  height: 330px;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  top: -30px;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  .benefits-section__container__illustrations {
    display: none;
  }
}
.benefits-section__container:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0;
}
.benefits-section__container__inner {
  flex-flow: column;
  -ms-flex-flow: column;
}
.benefits-section__section-1 {
  background-color: #00cc92;
}
.benefits-section__section-2,
.benefits-section__section-3,
.benefits-section__section-4 {
  min-height: 824px;
}
.benefits-section__section-2 ul,
.benefits-section__section-3 ul,
.benefits-section__section-4 ul {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.benefits-section__section-2 li,
.benefits-section__section-3 li,
.benefits-section__section-4 li {
  margin-bottom: 16px;
}
.benefits-section__section-2,
.benefits-section__section-4 {
  background-color: #fafaf5;
}
.benefits-section__section-3 {
  background-color: #fff;
}
.benefits-section__section-2 {
  background-image: url("images/branches-1.svg");
  background-position: 85% top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 599px) {
  .benefits-section__section-2 {
    background-image: url("images/branches-1-small.svg");
    background-position: 85% top;
  }
}
.benefits-section__section-3 {
  background-image: url("images/branches-2.svg");
  background-position: 15% top;
  background-repeat: no-repeat;
  background-size: contain;
}
@media only screen and (max-width: 599px) {
  .benefits-section__section-3 {
    background: none;
  }
}
.benefits-section__section-4 {
  background-image: url("images/trunk.svg");
  background-position: 85% top;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 599px) {
  .benefits-section__section-4 {
    background: none;
  }
}
@media only screen and (max-width: 599px) {
  .benefits-section__copy {
    margin-bottom: 48px;
  }
}
.benefits-section__copy h3,
.benefits-section__copy p {
  margin-bottom: 12px;
}
.benefits-section__illustrations {
  max-height: 100%;
  max-width: 100%;
}
.benefits-section__illustration__1,
.benefits-section__illustration__2,
.benefits-section__illustration__3,
.benefits-section__illustration__4 {
  max-height: 25%;
  max-width: 25%;
  object-fit: contain;
}
.benefits-section__illustration__1 img,
.benefits-section__illustration__2 img,
.benefits-section__illustration__3 img,
.benefits-section__illustration__4 img {
  max-width: 100%;
}
@media only screen and (max-width: 599px) {
  .benefits-section__illustration__1 img,
  .benefits-section__illustration__2 img,
  .benefits-section__illustration__3 img,
  .benefits-section__illustration__4 img {
    display: none;
  }
}
.benefits-section__illustration__2,
.benefits-section__illustration__3 {
  position: relative;
}
.benefits-section__illustration__2 {
  top: -80px;
}
.benefits-section__illustration__3 {
  top: 80px;
}
.benefits-section__illustration__small {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  .benefits-section__illustration__small {
    display: block;
  }
}
@media only screen and (max-width: 599px) {
  .benefits-section__illustration__large {
    display: none;
  }
}
.benefits-section__mobile-image {
  display: none;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  .benefits-section__mobile-image {
    display: block;
  }
}
.benefits-section__mobile-image img {
  object-fit: contain;
  width: 100%;
}
.benefits-section__sponsor-grid {
  margin-top: 48px;
}
.benefits-section__sponsor-grid__grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.benefits-section__sponsor-grid__sponsor {
  background-color: #e9e8de;
  height: 112px;
  margin: 0 16px 16px 0;
  max-width: 160px;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .benefits-section__sponsor-grid__sponsor {
    max-width: none;
  }
}
@media only screen and (max-width: 599px) {
  .benefits-section__sponsor-grid__sponsor {
    max-width: none;
  }
}
@media only screen and (max-width: 599px) {
  .benefits-section__empty {
    display: none;
  }
}
.getting-started-section__container-1 {
  padding-bottom: 0;
}
.getting-started-section__container-2 {
  padding-top: 0;
}
.getting-started-section__section {
  background-color: #fafaf5;
}
.getting-started-section__section h3 {
  padding-bottom: 16px;
}
.getting-started-section__section ul {
  line-height: 1.2;
  margin-bottom: 64px;
  margin-top: 12px;
}
.getting-started-section__section li {
  line-height: 1.31;
  padding-bottom: 20px;
}
.getting-started-section__title {
  color: #211d17;
  margin-bottom: 16px;
}
@media only screen and (max-width: 599px) {
  .getting-started-section__title {
    text-align: center;
  }
}
.getting-started-section__logo-image {
  height: 59px;
  margin-bottom: 112px;
  width: 444px;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .getting-started-section__logo-image {
    height: 44px;
    width: 340px;
  }
}
@media only screen and (max-width: 599px) {
  .getting-started-section__logo-image {
    height: 36px;
    width: 100%;
  }
}
.getting-started-section a {
  background-color: #fff;
  border: solid 2px #e9e8de;
  color: #211d17;
  display: block;
  font-size: 26px;
  min-height: 78px;
  outline: none;
  padding: 22px 24px;
  text-align: left;
}
.getting-started-section a:hover,
.getting-started-section a:focus {
  background-color: #00cc92;
  color: #fff;
  transition: background-color 300ms, color 300ms;
}
.scope-section {
  background-color: #342d25;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .scope-section__container-1 {
    padding: 160px 160px 144px 160px;
  }
}
@media only screen and (max-width: 599px) {
  .scope-section__container-1 {
    -ms-flex-flow: column;
        flex-flow: column;
    margin-bottom: 24px;
  }
}
.scope-section__container-2 {
  padding-top: 0;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .scope-section__container-2 {
    padding: 0 160px 160px 160px;
  }
}
.scope-section__gradient {
  background-image: linear-gradient(to bottom, #28231c, #342d25);
  height: 288px;
  margin-top: 112px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .scope-section__gradient {
    margin-top: 180px;
  }
}
.scope-section__title {
  color: #00cc92;
}
.scope-section__copy {
  color: #fff;
}
.scope-section__feature-intro {
  color: #fff;
  margin-bottom: 32px;
}
.scope-section__features {
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 599px) {
  .scope-section__features {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.scope-section__feature-cards,
.scope-section__feature-core-container {
  -ms-flex: 1;
  flex: 1;
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .scope-section__feature-core-container {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .scope-section__feature-core-container {
    margin-right: 16px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 999px) {
  .scope-section__feature-cards {
    margin-left: 16px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .scope-section__feature-cards {
    margin-left: 16px;
  }
}
body {
  color: #342d25;
  font-family: Hind;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.4;
}
a {
  color: #00835e;
  text-decoration: none;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
