@import url("https://fonts.googleapis.com/css?family=Hind:300,400,700");
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: inherit;
}
@mixin flexbox() {
  display: -ms-flexbox;
  display: flex;
}
@mixin flex($values) {
  -ms-flex: $values;
  flex: $values;
}
@mixin order($val) {
  -ms-flex-order: $val;
  order: $val;
}
@include flexbox();
@include flex(1 200px);
@include order(2);
.section__container {
  margin: 0 auto;
  padding: 160px 0;
  width: 960px;
}
.footer {
  background-color: #fafaf5;
  height: 400px;
}
.footer .section__container {
  padding: 64px 0 0 0;
}
.footer .section__container .footer__details {
  float: left;
  padding: 0 35px;
  width: 50%;
}
.footer .section__container .footer__details .footer__logo,
.footer .section__container .footer__details .footer__funding,
.footer .section__container .footer__details .footer__built-by {
  margin: 0 0 20px 0;
}
.footer .section__container .footer__details .footer__funding,
.footer .section__container .footer__details .footer__built-by {
  max-width: 336px;
}
.footer .section__container .footer__details .footer__funding p,
.footer .section__container .footer__details .footer__built-by p {
  color: rgba(33,29,23,0.6);
  font-size: 16px;
  line-height: 1.5;
}
.footer .section__container .footer__details .footer__logo {
  height: 80%;
  width: 80%;
}
.footer__links {
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}
.footer__links .footer__links__list {
  list-style-type: none;
  margin: 0 16px 0 0;
  width: 160px;
}
.footer__links .footer__links__list .footer__links__list__title {
  font-weight: bold;
}
.header__nav-bar {
  background-color: #342d25;
  height: 40px;
  overflow: hidden;
  padding: 2px;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.header__nav-bar .header__nav-bar__logo {
  float: left;
  height: 100%;
  padding: 2px 5px;
}
.header__nav-bar .header__nav-bar__links {
  float: right;
  height: inherit;
}
.header__nav-bar .header__nav-bar__links a {
  display: block;
  float: left;
  padding: 8px 24px;
  position: relative;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
}
.header {
  background-color: #342d25;
  text-align: center;
}
.header .header__page-title {
  color: #fff;
}
.header .header__logo {
  object-fit: contain;
}
.header .header__slogan {
  color: #00cc92;
  font-size: 60px;
  font-weight: 300px;
  line-height: 1.17;
}
.header .header__intro-copy {
  border-top: 1px solid #00cc92;
}
.header .header__intro-copy > p {
  color: #fff;
}
.benefits .benefits-1 {
  background-color: #00cc92;
}
.benefits .benefits-2,
.benefits .benefits-4 {
  background-color: #fafaf5;
}
.benefits .benefits-3,
.benefits .benefits-5 {
  background-color: #fff;
}
.benefits .section__copy > ul {
  list-style-type: none;
}
.getting-started {
  background-color: #00cc92;
}
.scope {
  background-color: #342d25;
}
.scope .section__title {
  color: #00cc92;
}
.scope .section__copy p {
  color: #fff;
  opacity: 0.8;
}
body {
  font-family: Hind;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
h1 {
  color: #342d25;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.17;
}
h2 {
  color: #342d25;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.2;
}
h3,
h4 {
  font-size: 26px;
  line-height: 1.31;
}
h3 {
  color: #342d25;
  font-weight: 600;
}
h4,
p {
  color: rgba(52,45,37,0.8);
}
h4 {
  font-size: 26px;
  font-weight: normal;
}
p {
  font-size: 20px;
  line-height: 1.4;
}
a {
  color: #00835e;
  text-decoration: none;
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
