// .homepage__container
$sectionContainer
    margin 0 auto
    padding section-padding

    +breakpoint(large)
        padding section-padding section-padding-large

    +breakpoint(medium)
        padding section-padding-medium

    +breakpoint(small)
        flex-flow column wrap
        -ms-flex-flow column wrap
        padding section-padding-small

    > .item:first-child
        margin-right 32px

        +breakpoint(small)
            margin-right 0

$sectionContainerWithNoYPadding
    display flex
    padding 0 section-padding

    +breakpoint(large)
        padding 0 section-padding-large

    +breakpoint(medium)
        padding 0 section-padding-medium-x

    +breakpoint(small)
        flex-direction column
        padding 0 section-padding-small-x
