// .homepage__container
$sectionContainer
    margin 0 auto
    padding section-padding

    +breakpoint(medium)
        padding section-padding-medium

    +breakpoint(small)
        padding section-padding-small

    > .item:first-child
        margin-right 32px

        +breakpoint(small)
            margin-right 0

        +breakpoint(tiny)
            margin-right 0