<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="homepage.css" rel="stylesheet">
</head>

<div class="homepage__container">

{% include 'partials/header/header__navBar.njk' %}

{% include 'partials/header/header.njk' %}

<main>

{% include 'partials/sections/benefits.njk' %}

{% include 'partials/sections/scope.njk' %}

{% include 'partials/sections/gettingStarted.njk' %}

</main>

{% include 'partials/footer/footer.njk' %}

</div>

<script src="bundle.js" type="text/javascript"></script>

</html>
