<!DOCTYPE html>
<html lang="en">
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<main>
    <h1>{{ title }}</h1>
    <div>
        {{ introHTML | safe }}
    </div>
    <div class="test" style="background-color: green; width: 100px; height: 100px;">
        anime test
    </div>
</main>

<link href="homepage.css" rel="stylesheet">
<script src="bundle.js"></script>

</html>