{% macro featureCard(feature, isTopLevel = false) %}
    <div class="feature-card" data-feature-id="{{ feature.id }}" {{ 'data-top-level' if isTopLevel }} {% if feature.parentId %}data-parent-feature-id="{{ feature.parentId }}"{% endif %}>

        <div class="feature-card__content">
            <div class="feature-card__top-border-line"></div>

            <div class="feature-card__feature-content">
                <h3 class="feature-card__name">{{ feature.name }}</h3>
                <div class="feature-card__description">
                    {{ feature.description }}
                </div>
                <div class="feature-card__details">
                    <dl class="feature-card__status">
                        <dt class="feature-card__status-label">Status:</dt>
                        <dd class="feature-card__status-value">{{ feature.templateStatus }}</dd>
                    </dl>
                    <dl class="feature-card__available">
                        <dt class="feature-card__available-label">Available:</dt>
                        <dd class="feature-card__available-value">{{ feature.templateWhenComplete }}</dd>
                    </dl>
                </div>
            </div>

            <ul class="feature-card__sub-features">
                {% for feature in feature.features %}
                    <li class="feature-card__sub-feature-item">
                        <button
                            class="feature-card__sub-feature-item-button js-subfeature-button"
                            data-feature-ref="{{ feature.id }}"
                            type="button">

                            {{ feature.name }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="feature-card__expand-button-container">
            {% include 'partials/expandButton/expandButton.njk' %}
        </div>

        {% for feature in feature.features %}
            {{ featureCard(feature) }}
        {% endfor %}
    </div>
{% endmacro %}