{% macro featureCard(feature) %}
    <div class="feature-card">
        <div class="feature-card__feature-content">
            <h3 class="feature-card__name">{{ feature.name }}</h3>
            <div class="feature-card__description">
                {{ feature.description }}
            </div>
            <div class="feature-card__details">
                <dl class="feature-card__status">
                    <dt class="feature-card__status-label">Status:</dt>
                    <dd class="feature-card__status-value">{{ feature.templateStatus }}</dd>
                </dl>
                <dl class="feature-card__available">
                    <dt class="feature-card__available-label">Available:</dt>
                    <dd class="feature-card__available-value">{{ feature.templateWhenComplete }}</dd>
                </dl>
            </div>
        </div>

        <ul class="feature-card__sub-features">
            {% for feature in feature.features %}
                <li class="feature-card__sub-feature-item">
                    <button class="feature-card__sub-feature-item-button" type="button">
                        {{ feature.name }}
                    </button>
                </li>
            {% endfor %}
        </ul>

        {% for feature in feature.features %}
            {{ featureCard(feature) }}
        {% endfor %}
    </div>
{% endmacro %}