$copy
    h3:not([class])
    p:not([class])
        margin-bottom 12px

    h3:not([class])
        @extends $mediumHeader

    ul:not([class])
        @extends $list

$normalCopy
    @extends $copy

    p:not([class])
        @extends $normalCopyText

$promoCopy
    @extends $copy

    p:not([class])
        @extends $promoCopyText