$bigHeader
    font-size 60px
    font-weight 300
    line-height 1.17

$mediumHeader
    font-size 40px
    font-weight normal
    line-height 1.2

$smallHeader
    font-size 26px
    line-height 1.31

$smallerHeader
    font-size 26px
    font-weight normal