$bigHeader
    font-size 60px
    font-weight 300
    line-height 1.17

    +breakpoint(medium)
        font-size 50px
        line-height 1.16

    +breakpoint(small)
        font-size 40px
        line-height 1.2

$mediumHeader
    font-size 40px
    font-weight 400
    line-height 1.2

    +breakpoint(medium)
        font-size 32px
        line-height 1.25

    +breakpoint(small)
        font-size 32px
        line-height 1.25

$smallHeader
    font-size 26px
    line-height 1.31

    +breakpoint(medium)
        font-size 24px
        line-height 1.33

    +breakpoint(small)
        font-size 24px
        line-height 1.33

$smallerHeader
    font-size 26px
    font-weight normal