//************
// Colors
//************

color-white = #ffffff // White
color-brown = #342d25 // Primary brown
color-green = #00cc92 // Primary green
color-teal = #00835e // Primary teal (links)
color-grey = #fafaf5 // Primary grey
color-black = #211d17 // Primary black-brown
