//************
// Colors
//************

color-white = #ffffff // White
color-brown = #342d25 // Primary brown
color-khaki = #413a31 // Light brown (khaki)
color-cocoa = #28221c // Dark brown (cocoa)
color-green = #00cc92 // Primary green
color-teal  = #00835e // Primary teal (links)
color-grey  = #fafaf5 // Primary grey
color-black = #211d17 // Primary black-brown
color-beige = #c1bfbb // Beige

gradient-brown = #28231c // Top of fade

status-color-green  = #9cef29 // In progress
status-color-blue   = #38ead4 // Complete
status-color-orange = #f5c323 // Upcoming

sponsor-grid-grey   = #e9e8de
