//************
// Sizes
//************

$container-width  = 960px       // Width of content in partial containers
$footer-height    = 400px       // Height of the footer
$footer-padding   = 64px 0 0 0  // Height of top padding in the footer area
$section-padding  = 160px 0     // Height of default top padding on section content