//************
// Sizes
//************

content-max-width                    = 1040px
footer-height                        = 400px       // Height of the footer
footer-padding-top                   = 64px  // Default padding in the footer area
footer-details-padding               = 0 35px      // Width of side padding on footer details
footer-details-margin                = 0 0 20px 0  // Default margin on details within the footer
header-navbar-bar-height             = 64px        // Default height of the top navigation bar
header-navbar-mobile-height          = 150px        // Default height of the nav bar's mobile header-navbar-mobile-links-height
header-navbar-total-height           = header-navbar-bar-height + header-navbar-mobile-height
section-padding-desired              = 200px
section-padding                      = 160px section-padding-desired // Height of default top padding on section content
section-padding-large-x              = 80px
section-padding-large-y              = 80px
section-padding-large                = section-padding-large-y section-padding-large-x
section-padding-medium-x             = 48px
section-padding-medium-y             = 80px
section-padding-medium               = section-padding-medium-y section-padding-medium-x   // Height and width of padding on section content at the medium breakpoint
section-padding-small-x              = 24px
section-padding-small-y              = 48px
section-padding-small                = section-padding-small-y section-padding-small-x   // Height and width of padding on section content at the small breakpoint
feature-core-stacked-breakpoint      = 1000px