.footer-link-list
    &__title
        font-weight 700
        margin-bottom footer-space-between

    &__unordered-list
        list-style none inside

    &__list-item
        margin-bottom footer-space-between
