<div class="footer__links">
    <ul class="footer__links-code">
        <li class="footer__links-code__title">Code</li>
        <li>Source</li>
        <li>Rubydoc</li>
        <li>API</li>
        <li>Gitter</li>
        <li>Open Hub</li>
    </ul>
    <ul class="footer__links-contact">
        <li class="footer__links-contact__title">Contact</li>
        <li>Submit feedback</li>
        <li>Request access</li>
        <li>Ask a question</li>
    </ul>
    <ul class="footer__links-social">
        <li class="footer__links-social__title">Social Media</li>
        <li>@TaxonWorks</li>
        <li>Species File Group blog</li>
    </ul>
</div>