.footer__links
    height 300px

    +breakpoint(medium)
        flex-flow row wrap
        height auto

    +breakpoint(small)
        flex-flow column

    ul
        list-style-type none
        margin 0 16px 0 0
        width 160px

        +breakpoint(small)
            margin-bottom 32px

        li 
            line-height 2

        .footer__links__list__title
            font-weight bold

        &.item
            +breakpoint(medium)
                flex-basis 25%
                font-size 20px
                line-height 1.4
                padding 10px 0
