.footer-links
    display flex

    +breakpoint(medium)
        flex-flow row wrap
        height auto

    +breakpoint(small)
        flex-flow column

    $linkList
        flex 1 1 0
        list-style none inside

    &__code
    &__contact
    &__social
        @extends .footer-links $linkList

        > li
            line-height 2

        ul 
            @extends .footer-links $linkList

            > li 
                line-height 2