.sponsor-grid
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 16px

    +breakpoint(small)
        grid-template-columns 1fr

    &__sponsor
        background-color sponsor-grid-grey

    &__image
        height auto
        max-width 100%