.sponsor-grid
    align-items center
    display flex
    flex-wrap wrap

    &__sponsor
        margin 0 16px 16px 0
        max-width 160px

    +breakpoint(benefits-4-small)
        justify-content center

    &__image
        height auto
        width 100%
        vertical-align bottom