.sponsor-grid
    align-items center
    display flex
    flex-wrap wrap
    gap 32px

    &__sponsor
        max-width 160px

    +breakpoint(benefits-4-small)
        justify-content center

    &__image
        height auto
        width 100%
        vertical-align bottom