.footer-section
    background-color color-white
    height footer-height

    &__container
        @extends $sectionContainer
        padding footer-padding

        +breakpoint(small)
            flex-flow column wrap


    &__details
        float left
        padding footer-details-padding
        width 50%

        +breakpoint(small)
            margin-bottom 48px
            width 100%

    &__logo
    &__funding
    &__built-by
        margin footer-details-margin

    &__funding
    &__built-by
        max-width 336px

        p 
            color rgba(33, 29, 23, 0.6)
            font-size 16px
            line-height 1.5

    &__logo
        object-fit contain
        width 100%

        +breakpoint(medium)
            height auto
            width 100%

        +breakpoint(large)
            height 77px
            width 336px