<footer class="footer-section">
    <div class="footer-section__container">
        <div class="footer-section__details footer-section__details--with-gutter">
            <img class="footer-section__logo" src="{{ footerLogo }}" alt="{{ sponsor }}">

            <div class="footer-section__funding">
                {{ fundingHTML | safe }}
            </div>

            <div class="footer-section__built-by">
                {{ builtByHTML | safe }}
            </div>
        </div>

        <div class="footer-section__footer-links">
            {% include 'partials/footer/links/footerLinks.njk' %}
        </div>
    </div>

    <div class="footer-section__disclaimer-container">
        <div class="footer-section__disclaimer">
            {{ disclaimerHTML | safe }}
        </div>
    </div>
</footer>