<footer class="footer">
    <img class="footer__logo" src="{{ logo }}" alt="This is the logo of {{ title }}">
    <div class="footer__built-by">
        {{ builtBy | safe }}
    </div>
    <div class="footer__funding">
        {{ funding | safe }}
    </div>

    {% include 'partials/footer/links/footerLinks.njk' %}
</footer>