<footer class="footer">
    <div class="section__container">
        <div class="footer__details">
            <img class="footer__logo" src="{{ footerLogo }}" alt="{{ sponsor }}">
            
            <div class="footer__funding">
                {{ fundingHTML | safe }}
            </div>

            <div class="footer__built-by">
                {{ builtByHTML | safe }}
            </div>
        </div>

        {% include 'partials/footer/links/footerLinks.njk' %}
    </div>
</footer>