{% import 'partials/featureCard/featureCard.njk' as featureCard %}

<div class="feature-core">
    <div class="feature-core__gradient-big"></div>

    <div class="feature-core__controls">
        <button class="feature-core__previous-button js-previous-button" type="button">
            <span class="feature-core__previous-button-content">
                <img src="images/chev-left.svg" alt="Previous">
            </span>
        </button>

        <div class="feature-core__controls-description">
            <div>Tap or swipe for more</div>
        </div>

        <button class="feature-core__next-button js-next-button" type="button">
            <span class="feature-core__next-button-content">
                <img src="images/chev-right.svg" alt="Next">
            </span>
        </button>
    </div>

    <ul class="feature-core__dots">
        {% for feature in scopeFeatures %}
            <li class="feature-core__dot js-feature-dot" data-feature-ref="{{ feature.id }}"></li>
        {% endfor %}
    </ul>

    <ul class="feature-core__feature-menu">
        {% for feature in scopeFeatures %}
            <li class="feature-core__feature-menu-item">
                <button
                    class="feature-core__feature-menu-button js-feature-menu-button"
                    data-feature-ref="{{ feature.id }}"
                    type="button">

                    {{ feature.name }}
                </button>
            </li>
        {% endfor %}
    </ul>

    <div class="feature-core__feature-card-container">
        <div class="feature-core__gradient-small"></div>
        {% for feature in scopeFeatures %}
            {{ featureCard.featureCard(feature, true) }}
        {% endfor %}
    </div>
</div>
