.feature-core
    padding 24px 0

    &__controls
        color color-beige
        display flex
        justify-content space-between
        padding 0 0 24px

    &__controls-description
        align-items center
        display flex

    &__previous-button
    &__next-button
        @extend $buttonReset

        &-content
            align-items center
            background-color cocoa
            border 2px solid color-khaki
            display flex
            height 56px
            justify-content center
            width @height

    //&__feature-card-container
        
    &__feature-button
        @extend $buttonHelper
        background-color color-cocoa
        border solid 2px color-khaki
        color color-green
        height 112px
        outline none
        padding 22px 24px
        text-align left

        &:hover
        &:focus
            background-color color-green
            color color-cocoa
            transition background-color 300ms, color 300ms
 