.feature-core
    display flex
    padding 24px 0

    +breakpoint(medium)
        display block

    +breakpoint(small)
        display block

    &__controls
        color color-beige
        display none
        justify-content space-between
        padding 0

        +breakpoint(medium)
            display flex

        +breakpoint(small)
            display flex

    &__controls-description
        align-items center
        display flex
        text-align center

    &__previous-button
    &__next-button
        @extend $buttonReset

        &-content
            align-items center
            background-color cocoa
            border 2px solid color-khaki
            display flex
            height 56px
            justify-content center
            width @height

    &__dots
        display none
        list-style none inside
        justify-content center
        margin 0 auto
        padding 16px 0

        +breakpoint(medium)
            display flex

        +breakpoint(small)
            display flex

    &__dot
        background-color color-cocoa
        border 2px solid color-teal
        border-radius 50%
        height 14px
        transition background-color 222ms
        width @height

        &:not(:first-child)
            margin-left 16px

        &--active
            background-color color-teal

    &__feature-menu
        flex 1 1 0
        list-style none inside
        margin-right 8px

        +breakpoint(medium)
            display none

        +breakpoint(small)
            display none

    &__feature-menu-item
        margin-bottom 8px

    &__feature-menu-button
        @extend $buttonHelper
        background-color color-cocoa
        border solid 2px color-khaki
        color color-teal
        outline none
        padding 22px 24px
        text-align left
        transition background-color 250ms, color 250ms, border-color 250ms

        &:hover
        &:focus
            background-color color-teal
            color color-cocoa

        &--active-feature
            border-color color-teal
            color white

    &__feature-card-container
        flex 1 1 0
        margin-left 8px
        position relative

        +breakpoint(medium)
            margin-left 0

        +breakpoint(small)
            margin-left 0