.feature-core
    &__item
        margin 0 32px 16px 0
        
    &__button
        @extend $buttonHelper
        background-color color-cocoa
        border solid 2px color-khaki
        color color-green
        height 112px
        outline none
        padding 22px 24px
        text-align left

        &:hover
        &:focus
            background-color color-green
            color color-cocoa
            transition background-color 300ms, color 300ms
 