{% import 'partials/featureCard/featureCard.njk' as featureCard %}

<ul class="feature-core">
    <div class="feature-core__controls">
        <button class="feature-core__previous-button" type="button">
            <span class="feature-core__previous-button-content">
                <img src="/images/chev-left.svg" alt="Previous">
            </span>
        </button>a

        <div class="feature-core__controls-description">
            <div>Tap or swipe for more</div>
        </div>

        <button class="feature-core__next-button" type="button">
            <span class="feature-core__next-button-content">
                <img src="/images/chev-right.svg" alt="Next">
            </span>
        </button>
    </div>
    {% for feature in scopeFeatures %}
        {{ featureCard.featureCard(feature) }}
    {% endfor %}
</ul>