// Imports
@import 'styles/global/variables/**'

@import 'styles/fonts'
@import 'styles/resets'
@import 'styles/flexbox'
@import 'styles/headers'
@import 'styles/buttons'

@import 'pages/**'
@import 'partials/**'

// Base elements
body
    color color-brown
    font-family Hind
    font-size 20px
    font-stretch normal
    font-style normal
    letter-spacing normal
    line-height 1.4

a
    color color-teal
    text-decoration none

// Accessibility
.hidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute