// Imports
@import 'styles/fonts'
@import 'styles/resets'
@import 'styles/flexbox'

@import 'styles/global/**'

@import 'pages/**'
@import 'partials/**'

// Base elements
body
    font-family Hind
    font-stretch normal
    font-style normal
    letter-spacing normal

h1
    color $color-brown
    font-size 60px
    font-weight 300
    line-height 1.17

h2
    color $color-brown
    font-size 40px
    font-weight normal
    line-height 1.2

h3, h4
    font-size 26px
    line-height 1.31

h3
    color $color-brown
    font-weight 600

h4, p
    color rgba(52, 45, 37, 0.8)

h4
    font-size 26px
    font-weight normal

p
    font-size 20px
    line-height 1.4

a
    color $color-teal
    text-decoration none

// Accessibility
.hidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

// Custom

