<button
    class="expand-button js-expand-button"
    data-feature-ref="{{ feature.id }}"
    type="button">

    <span class="expand-button__name">
        {{ feature.name }}

        <span class="expand-button__top-border"></span>
        <span class="expand-button__right-border"></span>
        <span class="expand-button__left-border"></span>
        <span class="expand-button__bottom-left-border"></span>
        <span class="expand-button__bottom-right-border"></span>
    </span>
    <span class="expand-button__connector"></span>
</button>