.expand-button
    @extend $buttonReset
    width 100%

    &__name
        background-color color-cocoa
        color color-green
        display block
        font-size 20px
        line-height 28px
        padding 14px 24px
        position relative
        text-align left

    &__left-border
    &__right-border
    &__top-border
    &__bottom-left-border
    &__bottom-right-border
        background-color color-green
        position absolute

    &__top-border
        left 0
        height 2px
        right 0

    &__right-border
    &__left-border
        bottom 0
        top 0
        transform-origin 50% 0
        width 2px

    &__left-border
    &__bottom-left-border
        left 0

    &__right-border
    &__bottom-right-border
        right 0

    &__top-border
        top 0

    &__bottom-left-border
    &__bottom-right-border
        bottom 0
        height 2px
        width 50%

    &__bottom-left-border
        transform-origin 0 50%

    &__bottom-right-border
        transform-origin 100% 50%

    &__connector
        background-color color-green
        display block
        height 24px
        margin 0 auto
        position relative
        transform-origin 50% 0
        width 2px