<div class="benefits-section js-benefits-section">
    <article class="benefits-section__section-1" id="benefits">
        <div class="benefits-section__container benefits-section__container--less-padding-below">
            <h2 class="benefits-section__section-1-title">{{ benefitsTitle  }}</h2>
            <div class="benefits-section__section-1-copy">
                {{ benefits1HTML | safe }}
            </div>
        </div>
        <div class="benefits-section__leaves" aria-hidden="true">
            <picture>
                <source srcset="images/benefits-1-leaves-small.svg" media="(max-width: 500px)">
                <img class="benefits-section__leaves-image" src="images/leaves.svg">
            </picture>
        </div>
    </article>

    <article class="benefits-section__section-2" id="benefits-2">
        <div class="benefits-section__connecting-lines" aria-hidden="true">
            <picture>
                <source srcset="images/branches-1-small.svg" media="(max-width: 689px)">
                <img class="benefits-section__connecting-lines-image" src="images/branches-1.svg">
            </picture>
        </div>
        <div class="benefits-section__section-2-copy">
            {{ benefits2HTML | safe }}
        </div>
        <div class="benefits-section__section-2-images" aria-hidden="true">
            <img class="benefits-section__section-2-images-image" src="images/benefits-2-illustrations.svg">
        </div>
    </article>

    <article class="benefits-section__section-3" id="benefits-3">
        <div class="benefits-section__section-3-image-container" aria-hidden="true">
            <picture>
                <source srcset="images/branches-2-medium.svg" media="(min-width: 690px) and (max-width: 999px)">
                <source srcset="images/branches-2-small.svg" media="(max-width: 689px)">
                <img class="benefits-section__section-3-image" src="images/branches-2.svg">
            </picture>
        </div>
        <div class="benefits-section__section-3-copy">
            {{ benefits3HTML | safe }}
        </div>
    </article>

    <article class="benefits-section__section-4" id="benefits-4">
        <div class="benefits-section__section-4-content">
            <div class="benefits-section__section-4-copy">
                {{ benefits4HTML | safe }}
            </div>
            <div class="benefits-section__sponsor-grid">
                {% include 'partials/sponsorGrid/sponsorGrid.njk' %}
            </div>
        </div>
        <div class="benefits-section__tree" aria-hidden="true">
            <picture>
                <source srcset="images/trunk-small.svg" media="(max-width: 799px)">
                <img class="benefits-section__tree-image" src="images/trunk.svg" alt="Trunk" />
            </picture>
        </div>
    </article>
</div>