.benefits-section

    &__container
        @extends $sectionContainer
        display flex
        position relative

        &--less-padding-below
            padding-bottom 64px

        &:nth-child(2)
            padding-top 0
            padding-bottom 0

        &__inner
            @extends $normalFlexItem
            display flex
            flex-flow column

            +breakpoint(small)
                display block

    &__section-1
        background-color color-green
        position relative
        z-index 1

        &-title
            @extends $bigHeader
            @extends $normalFlexItem
            margin-right 32px

            +breakpoint(small)
                flex-basis auto
                margin-bottom 24px
                margin-right 0

        &-copy
            @extends $normalFlexItem
            @extends $copy

    &__leaves
        max-width content-max-width
        margin 0 auto
        transform translateY(32px)

        +breakpoint(small)
            display none

    &__leaves-image
        height auto
        max-width 100%
        vertical-align bottom

    &__connecting-lines
        bottom 0
        left 'calc((100vw - %s) / 2)' % content-max-width
        position absolute
        right @left
        top 0

        @media (max-width content-max-width)
            left 0
            right 0

        +breakpoint(small)
            background url(images/branches-1-small.svg) no-repeat calc(100% - 24px) 0%

        &-image
            width 100%

            +breakpoint(small)
                display none

    &__section-2
    &__section-3
    &__section-4
        min-height 824px

        +breakpoint(small)
            min-height 0

    &__section-2
    &__section-4
        background-color color-grey

    &__section-2
        @extends $sectionContainer
        display flex
        position relative

        +breakpoint(small)
            display block

    &__section-3
        @extends $sectionContainerWithModifiedPadding
        align-items center
        background-color color-white
        display flex

        &-image-container
            flex 0 0 467px

            +breakpoint(small)
                order 1

        &-image
            vertical-align bottom

        &-copy
            @extends $copy
            flex 1 1 auto

    &__section-4
        background-image url("images/trunk.svg")
        background-position 85% top 
        background-repeat no-repeat

        +breakpoint(small)
            background-image none

    &__title
        @extends $bigHeader
        @extends $normalFlexItem

    &__copy
        @extends $normalFlexItem

        +breakpoint(small)
            margin-bottom 48px

    &__illustrations
        display flex
        max-height 100%
        max-width 100%

    &__copy
    &__illustration
        position relative

    &__illustration
        @extends $normalFlexItem

        &__1
        &__2
        &__3 
        &__4 
            max-height 25%
            max-width 25%
            object-fit contain

            img
                max-width 100%

                +breakpoint(small)
                    display none

        &__2
        &__3
            position relative

        &__2
            top -80px

        &__3
            top 80px

        &__small
            display none
            width 100%

            +breakpoint(small)
                display block

        &__large
            +breakpoint(small)
                display none

    &__mobile-image
        @extend $normalFlexItem
        display none
        margin 0 auto
        max-width 248px

        +breakpoint(small)
            display block

        img
            object-fit contain
            width 100%

    &__sponsor-grid
        @extends $normalFlexItem
        margin-top 48px

    &__empty
        @extends $normalFlexItem

        +breakpoint(small)
            display none
