.benefits-section

    &__container
        @extends $sectionContainer

    &__section-1
        background-color color-green

    &__section-2
    &__section-3
    &__section-4
    &__section-5
        h3
            @extends $mediumHeader

    &__section-2
    &__section-4
        background-color color-grey

    &__section-3
    &__section-5
        background-color color-white

    &__title
        @extends $bigHeader

    &__copy
        @extends $smallHeader

        > ul
            list-style-type none