.benefits-section

    &__container
        @extends $sectionContainer

    &__section-1
        background-color color-green

    &__section-2
    &__section-3
    &__section-4
    &__section-5
        h3
            @extends $mediumHeader
            margin-bottom 12px
        ul
            font-size 20px
            font-weight 400
            line-height 1.4

        li
            margin-bottom 16px

    &__section-2
    &__section-4
        background-color color-grey

    &__section-3
    &__section-5
        background-color color-white

    &__title
        @extends $bigHeader

    &__copy
        @extends $smallHeader

        > ul
            @extends $list