<div class="benefits-section">
    <article class="benefits-section__section-1">
        <div class="benefits-section__container benefits-section__container--less-padding-below">
            <h2 class="benefits-section__section-1-title">{{ benefitsTitle  }}</h2>
            <div class="benefits-section__section-1-copy">
                {{ benefits1HTML | safe }}
            </div>
        </div>
        <div class="benefits-section__leaves" aria-hidden="true">
            <img class="benefits-section__leaves-image" src="images/leaves.svg">
            <div class="benefits-section__mobile-top-leaves-container">
                <img class="benefits-section__mobile-top-leaves" src="images/top-leaves-graphic.svg">
            </div>
            <img class="benefits-section__mobile-leaf" src="images/inhs-01.svg" alt="INHS 01" />
            <img class="benefits-section__mobile-leaf benefits-section__mobile-leaf--hidden" src="images/inhs-02.svg" alt="INHS 02" />
            <img class="benefits-section__mobile-leaf benefits-section__mobile-leaf--hidden" src="images/inhs-03.svg" alt="INHS 03" />
            <img class="benefits-section__mobile-leaf benefits-section__mobile-leaf--hidden" src="images/inhs-04.svg" alt="INHS 04" />
        </div>
    </article>

    <article class="benefits-section__section-2">
        <div class="benefits-section__connecting-lines">
            <img class="benefits-section__connecting-lines-image" src="images/branches-1.svg" aria-hidden="true">
        </div>
        <div class="benefits-section__section-2-copy">
            {{ benefits2HTML | safe }}
        </div>
        <div class="benefits-section__illustration">
            <img src="images/inhs-06.svg" class="benefits-section__illustration__large" alt="INHS 06" />
            <img src="images/inhs-05.svg" class="benefits-section__illustration__large" alt="INHS 05" />
        </div>
        <div class="benefits-section__mobile-image">
            <img src="images/inhs-05.svg" alt="INHS 05" />
        </div>
    </article>

    <article class="benefits-section__section-3">
        <div class="benefits-section__section-3-image-container" aria-hidden="true">
            <picture>
                <source srcset="images/branches-2-small.svg" media="(max-width: 689px)">
                <img class="benefits-section__section-3-image" src="images/branches-2.svg">
            </picture>
        </div>
        <div class="benefits-section__section-3-copy">
            {{ benefits3HTML | safe }}
        </div>
    </article>

    <article class="benefits-section__section-4">
        <div class="benefits-section__container benefits-section__container--something">
            <div class="benefits-section__section-4-copy">
                {{ benefits4HTML | safe }}
            </div>
            <div class="benefits-section__sponsor-grid">
                {% include 'partials/sponsorGrid/sponsorGrid.njk' %}
            </div>
        </div>
        <div class="benefits-section__tree">
            <img class="benefits-section__tree-image" src="images/trunk-small.svg" width="424" height="636" alt="Trunk" />
        </div>
    </article>
</div>