.getting-started-section

    &__container-1
    &__container-2
        @extends $sectionContainer

        +breakpoint(small)
            flex-flow column

    &__container-1 
        padding-bottom 0

    &__container-2
        padding-top 0

    &__section
        background-color color-grey

        h3
            @extends $mediumHeader
            padding-bottom 16px

        ul
            @extends $list
            line-height 1.2
            margin-bottom 64px
            margin-top 12px

        li 
            line-height 1.31
            padding-bottom 20px

    &__title
        @extends $bigHeader
        color color-black
        margin-bottom 16px

        +breakpoint(small)
            text-align center

    &__logo-image
        height 59px
        margin-bottom 112px
        width 444px

        +breakpoint(medium)
            height 44px
            width 340px

        +breakpoint(small)
            height 36px
            width 100%

    &__copy
        @extends $smallHeader

    a 
        @extend $buttonHelper
        background-color color-white
        border solid 2px sponsor-grid-grey
        color color-black
        display block
        font-size 26px
        min-height 78px
        outline none
        padding 22px 24px
        text-align left

        &:hover
        &:focus
            background-color color-green
            color color-white
            transition background-color 300ms, color 300ms
