<div class="getting-started-section">
    <article class="getting-started-section__section">
        <div class="getting-started-section__container-1 wrapper">
            <div class="getting-started-section__section-text item">
                    <h2 class="getting-started-section__title">{{ gettingStartedTitle }}</h2>
                    <img class="getting-started-section__logo-image" src="{{ gettingStartedLogo }}" alt="This is the logo of {{ title }}">
                </div>
                <div class="getting-started-section__copy item">
                    {{ gettingStarted1HTML | safe }}
                </div>
            </div>

            <div class="getting-started-section__container-2 wrapper">
                <div class="getting-started-section__copy item">
                    {{ gettingStarted2aHTML | safe }}
                </div>
                <div class="getting-started-section__copy item">
                    {{ gettingStarted2bHTML | safe }}
                </div>
            </div>
        </div>

            </div>
        </div>
    </article>

</div>
