<article class="getting-started section">
    <div class="section__container">
        <h2 class="section__title">{{ gettingStartedTitle  }}</h2>
        <div class="section__copy">
            {{ gettingStartedHTML | safe }}
        </div>
    </div>
</article>
