.getting-started-section
    &__leaves
        position absolute

    &__container-1
    &__container-2
        @extends $sectionContainer

    &__container-1
        display flex
        margin-bottom 64px
        padding-bottom 0

    &__container-2
        display flex
        padding-top 0

    &__section
        background-color color-grey

        h3
            @extends $mediumHeader
            margin-bottom 12px

        ul
            @extends $list
            margin-bottom 48px

        li
            &:not(:last-child)
                margin-bottom 8px

        a
            @extends $promoCopyText
            background-color color-white
            border 2px solid sponsor-grid-grey
            color color-moss
            display block
            outline none
            padding 22px 24px
            transition background-color 250ms, border-color 250ms

            &:hover
            &:focus
                background-color color-cocoa
                border-color color-moss

    &__section-text
        flex 1 1 0
        margin-right 32px

        +breakpoint(small)
            margin-bottom 32px
            margin-right 0px

    &__title
        @extends $bigHeader
        color color-black
        margin-bottom 16px

    &__logo-image
        height 59px
        object-fit contain
        max-width 100%

        +breakpoint(medium)
            height 44px
            width 340px

        +breakpoint(small)
            height 36px

    &__copy
        @extends $normalCopyText
        flex 1 1 0

        &--with-gutter
            margin-right 32px

            +breakpoint(small)
                margin-right 0