<article class="scope section">
    <div class="section__container">
        <h2 class="section__title">{{ scopeTitle  }}</h2>
        <div class="section__copy">
            {{ scopeHTML | safe }}
        </div>
    </div>
</article>
