{% import 'partials/featureCard/featureCard.njk' as featureCard %}

<article class="scope-section">
    <div class="scope-section__container">
        <h2 class="scope-section__title">{{ scopeTitle  }}</h2>
        <div class="scope-section__copy">
            {{ scopeHTML | safe }}
        </div>
        <div class="scope-section__features">
            <div class="scope-section__feature-core-container">
                {% include 'partials/featureCore/featureCore.njk' %}
            </div>
            <div class="scope-section__feature-cards">
                {% for feature in scopeFeatures %}
                    {{ featureCard.featureCard(feature) }}
                {% endfor %}
            </div>
        </div>
    </div>
</article>