<article class="scope-section">
    <div class="scope-section__container-1">
        <h2 class="scope-section__title">{{ scopeTitle  }}</h2>
        <div class="scope-section__copy">
            {{ scopeHTML | safe }}
        </div>
    </div>
    <div class="scope-section__container-2">
        <div class="scope-section__gradient"></div>
        <h3 class="scope-section__feature-intro">Explore current & upcoming features</h3>
        <div class="scope-section__features">
            <div class="scope-section__feature-core-container">
                {% include 'partials/featureCore/featureCore.njk' %}
            </div>
        </div>
    </div>
</article>